<%inherit file="/base.html"/>

<script src="${STATIC_URL}client/controllers/home.js" type="text/javascript"></script>
<script src="${STATIC_URL}client/controllers/site.js" type="text/javascript"></script>

<!--图表控件-->
<script type="text/javascript" src="${STATIC_URL}js/plug-in/highcharts/highcharts.js"></script>
<script type="text/javascript" src="${STATIC_URL}js/plug-in/highcharts/highcharts-3d.js"></script>
<script type="text/javascript" src="${STATIC_URL}js/plug-in/highcharts/exporting.js"></script>
<script type="text/javascript" src="${STATIC_URL}js/plug-in/highcharts/highcharts-more.js"></script>
<script type="text/javascript" src="${STATIC_URL}js/plug-in/highcharts/solid-gauge.js"></script>

<!--此处添加js-->
<script type="text/javascript" src="${STATIC_URL}client/controllers/test.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/cd/p2-1.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/cd/p2-2.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/cd/p3-1.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/cd/p3-2.js"></script>

<script type="text/javascript" src="${STATIC_URL}client/controllers/test1/task_template.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/test1/add_business.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/test1/edit_business.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/test1/host_detail.js"></script>

<script type="text/javascript" src="${STATIC_URL}client/controllers/frame/common.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/frame/chart.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/frame/chart_demo.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/frame/api_test.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/frame/hostList.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/frame/serverDetail.js"></script>

<script type="text/javascript" src="${STATIC_URL}client/controllers/host/host.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/host/addhost.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/host/hostStatus.js"></script>


<script type="text/javascript" src="${STATIC_URL}client/controllers/exam3/backOption.js"></script>
<script type="text/javascript" src="${STATIC_URL}client/controllers/exam3/backRecord.js"></script>
