/*内容body*/
.content-body {
    width: 100%;
    overflow-y: auto;
}

.w180{
    width: 180px !important;
}

/*弹框样式*/
.dialog-body {
    width: 100%;
    padding: 10px;
    max-height: 400px;
    overflow-y: auto;
}

.dialog-footer {
    margin: 10px 0px;
    text-align: center;
}

/*ng-grid超出text提示*/
.table-tip {
    display: block;
    overflow: hidden;
    margin-top: 5px;
    padding-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap
}

/*table 操作栏的按钮样式*/
.table-span-label {
    min-width: 50px;
    margin-left: 5px;
}
.ngSelectionHeader {
    top: 0px;
}

.text-center{
    text-align: center !important;
}

.select2-container .select2-choice {
    border-radius: 4px;
    height: 32px;
}

/*标准form表单*/
.standard-form .form-group {
    height: 55px !important;
}

.panel {
    border-width: 1px !important;
}