<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    时间折线图
                </div>
                <div class="panel-body">
                    <div linehighchart="lineChart" style="width:100%;height:300px;"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-sucess">
                <div class="panel-heading">
                    普通折线图
                </div>
                <div class="panel-body">
                    <div linehighchart="lineChart" style="width:100%;height:300px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>