<div cw-highcharts="piechart" series="piechart.series"
                             style="width:40%;height: 200px;float: left"></div>

 <div style="width: 100%; height: 340px; padding: 10px;">
        <div cw-piechart="piechart" style="width:100%;height: 400px;"></div>
    </div>