<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    组件
                </div>
                <div class="panel-body">
                    <form class="form-inline" role="form">
                        <label>时间选择器：</label>
                        <input type="text" ng-model="args.whenStart" cw-datepicker class="form-control"/>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>