<div class="container-fluid" style="height: 100%;">
    <div style="width: 16%;height: 100%;position: relative;float: left;left: 20px">
        <input type="text" style="width:250px" ng-model="app_id1" ng-change="changeApp1()" cw-selectstr2="appOption1"/>
        <div style="width:100%;position: absolute;top:40px;bottom: 0;">
            <ul id="businessTopo" ztree="zTreeOptions" ng-model="businessTopo" class="ztree"></ul>
        </div>
    </div>
    <div style="position: relative;width: 80%;height: 100%;float: left">
        <div style="width: 100%;height: 40px">
            <select class="form-control" style="width:100px;float:left;" ng-model="select_attr.value"
                    ng-options="i.id as i.text for i in attrList"></select>
            <input class="form-control" style="width:200px;float:left;margin-left: 20px" ng-model="filterObj.value"/>
            <button class="btn btn-sm btn-primary" style="float:right;" ng-click="filterServer()">查询</button>
        </div>
        <div cw-adaptbody="49" ng-grid="gridOption" style="width: 100%;"></div>
    </div>
</div>