<div>
    <div dragable1 dialog-title="{{ title }}"></div>

    <div class="dialog-body">
        <form class="form-horizontal standard-form" id="upload_file_form" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label class="col-sm-2">业务:</label>
                <div class="col-sm-9">
                    <select class="form-control"
                            ng-options="i.id as i.text for i in business"
                            ng-model="args.business" ng-change="get_set(args.business)"></select>
                </div>
                <div class="col-sm-1">
                    <span class="text-danger mt5">*</span>
                </div>

            </div>
            <div class="form-group">
                <label class="col-sm-2">集群:</label>
                <div class="col-sm-9">
                    <select class="form-control"
                            ng-options="i.bk_inst_id as i.bk_inst_name for i in setList"
                            ng-model="args.set" ng-change="get_host()"></select>
                </div>

            </div>
            <div class="form-group">
                <label class="col-sm-2">主机:</label>
                <div class="col-sm-9">
                    <select class="form-control"
                            ng-options="i.bk_host_innerip as i.bk_host_innerip for i in allServer"
                            ng-model="args.host"></select>
                </div>

            </div>
        </form>
    </div>


    <div class="dialog-footer">
        <button class="btn btn-default" ng-if="clickop">
            正在上传，请稍后
        </button>
        <button class="btn btn-primary" ng-click="confirm()" ng-if="!clickop">
            确认
        </button>
        <button style="margin-left: 20px;" class="btn btn-default" ng-click="cancel()" ng-if="!clickop">
            取消
        </button>
    </div>
</div>


<style>

</style>