<div class="container-fluid">
    <div class="row mb10">
        <div class="col-md-12">
            <form class="form-inline" role="form">
                <div class="form-group">

                    <button class="btn btn-info" ng-click="add()">新增主机</button>
                </div>
            </form>
        </div>
    </div>
</div>

