<div class="container-fluid" style="height: 100%;">
    <div class="row">
        <div class="form-group">
            <label class="col-sm-2">请选择业务:</label>
            <div class="col-sm-9" style="margin-bottom: 20px">
                <select class="form-control"
                        ng-options="i.id as i.text for i in business"
                        ng-model="args.business" ng-change="get_host_by_biz()"></select>
            </div>
            <div class="col-sm-1">
                <span class="text-danger mt5">*</span>
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-2">请选择ip:</label>
            <div class="col-sm-5">
                <textarea style="display: block" ng-model="args.ip" cols="50" rows="5"></textarea>
                <button class="btn btn-primary" ng-click="get_host_by_biz()">查询</button>
            </div>
        </div>
    </div>

    <div cw-adaptbody="49" ng-grid="gridOption"
         style="width: 100%;overflow-x: hidden;overflow-y: hidden;margin-top: 20px">
    </div>

</div>

