<div class="king-page-box king-layout1-main clearfix">
    <!-- 左边 start -->
    <div class="king-layout1-sidebar column ui-container" style="width:216px; min-height:300px;">
        <form role="form">
            <div class="form-group">
                <label>请选择业务：</label>
                <input type="text" class="king-width-100" ng-model="app_id1" ng-change="changeApp1()"
                       cw-selectstr2="appOption1"/>
            </div>

            <div class="form-group" style="width:100%;position: absolute;top:60px;bottom: 0;">
                <label>选择拓扑:</label>
                <ul id="businessTopo" ztree="zTreeOptions" ng-model="businessTopo" class="ztree"></ul>
            </div>
        </form>
    </div>
    <!-- 左边 end -->
    <!-- content start -->
    <div class="king-content-wrap">
        <div class="king-layout1-content ui-container p15" style="margin-left: 216px; min-height:300px;">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-1 control-label text-right">主机ip</label>
                            <div class="col-sm-11">
                                <textarea style="width: 100%" rows="5" ng-model="args.ip"></textarea>
                            </div>
                        </div>
                        <div class="form-group">

                            <label class="col-sm-1 control-label text-right">目录</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" ng-model="args.menu">
                            </div>

                            <label class="col-sm-1 control-label text-right">文件名</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" ng-model="args.filename">
                            </div>

                        </div>
                        <div class="form-group" style="margin-bottom: 20px">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-11">
                                <button class="btn btn-primary" ng-click="search()">查询</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-11">
                                <div cw-adaptbody="49" ng-grid="gridOption" style="width: 100%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content end -->
</div>