<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>蓝鲸运维开发工程师考试</title>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="shortcut icon" href="${STATIC_URL}favicon.ico" type="image/x-icon">
    <!-- bootstrap css -->
    <link href="${STATIC_URL}assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- 禁止bootstrap 响应式 （app根据自身需求启用或禁止bootstrap响应式） -->
    <link href="${STATIC_URL}assets/bootstrap-3.3.4/css/bootstrap_noresponsive.css" rel="stylesheet">
    <!--插件css-->
    <link href="${STATIC_URL}css/zTreeStyle.css" rel="stylesheet">
    <link href="${STATIC_URL}css/ng-grid.css" rel="stylesheet">
    <link href="${STATIC_URL}css/jquery-ui-1.10.4.css" rel="stylesheet">
    <link href="${STATIC_URL}css/toastr.min.css" rel="stylesheet">
    <link href="${STATIC_URL}css/kendo.common.min.css" rel="stylesheet">
    <link href="${STATIC_URL}css/kendo-default.min.css" rel="stylesheet">
    <link href="${STATIC_URL}css/kendo-datetime.min.css" rel="stylesheet">
    <link href="${STATIC_URL}css/select2.css" rel="stylesheet">
    <link href="${STATIC_URL}css/bk.css" rel="stylesheet">

    <!--嘉为蓝鲸开发框架UI-->
    <link href="${STATIC_URL}css/urabn-ui/perfect-scrollbar.css" rel="stylesheet">
    <link href="${STATIC_URL}css/urabn-ui/roboto.css" rel="stylesheet">
    <link href="${STATIC_URL}css/urabn-ui/font-awesome.min.css" rel="stylesheet">
    <link href="${STATIC_URL}css/urabn-ui/panel.css" rel="stylesheet">
    <link href="${STATIC_URL}css/urabn-ui/feather.css" rel="stylesheet">
    <link href="${STATIC_URL}css/urabn-ui/animate.css" rel="stylesheet">
    <link href="${STATIC_URL}css/urabn-ui/urban.css" rel="stylesheet">
    <link href="${STATIC_URL}css/urabn-ui/urban.skins.css" rel="stylesheet">
    <link href="${STATIC_URL}css/cw-ui/template.css" rel="stylesheet">
    <link href="${STATIC_URL}css/cw-ui/base-page.css" rel="stylesheet">
    <link href="${STATIC_URL}css/cw-ui/cw-left-menu.css" rel="stylesheet">
    <link href="${STATIC_URL}css/cw-ui/directive.css" rel="stylesheet">
    <link href="${STATIC_URL}css/cw-ui/cw-top-menu.css" rel="stylesheet">

    <link href="${STATIC_URL}css/self/index.css" rel="stylesheet">


    <!-- 这个是全局配置，如果需要在js中使用app_id和site_url,则这个javascript片段一定要保留 -->
    <script type="text/javascript">
        var app_id = "${APP_ID}";
        var site_url = "${SITE_URL}";	  // app的url前缀,在ajax调用的时候，应该加上该前缀
        var static_url = "${STATIC_URL}"; // 静态资源前缀
        var current_user = "${request.user.username}";
        var app_path = window.location.origin + site_url;
    </script>
</head>
<body ng-controller="site" class="siteBody">
<!--访问接口用，请勿删除-->
<input type='hidden' id="csrf" name='csrfmiddlewaretoken' value='${csrf_token}'>

<div>
    <!--顶部导航 Start-->
    <nav class="navbar navbar-default king-horizontal-nav2 top-nav" role="navigation">
        <div class="container">
            <div class="navbar-header col-md-4 col-sm-4 col-xs-4 logo">
                <img src="${STATIC_URL}img/logo.png" class="logo-img"
                         style=""/>
                <!-- <img ng-src="{{ logo_img }}" class="logo-img"> -->
                <a class="navbar-brand logo-href" href="${SITE_URL}">
                    考试框架
                </a>
            </div>
            <!--顶部菜单start-->
            <div cw-top-menu="menuOption"></div>
            <!--顶部菜单end-->
            <!--登陆注销start-->
            <div style="position:absolute;right:0;top:0;overflow:auto;color: #ccc;width:190px;">
                <!-- <img src="${STATIC_URL}img/getheadimg.jpg" class="nav-user-photo"
                     style="width:45px;height:45px;border:1px solid #ddd;"/> -->
                <i style="color: #000;font-size: 20px;margin-left: 40px" class="fa fa-user"></i>
                <span class="user-info" style="color: #333">${request.user.username}</span>
                <div class="log_out">
                    <a style="margin: 17px 0 0 13px" class="fa fa-sign-out fa-2x" href="${LOGOUT_URL}"></a>
                </div>
            </div>
            <!--登陆注销end-->
        </div>
    </nav>
    <!--顶部导航 End-->

</div>
<!-- 固定宽度居中 start -->
<div class="main-container">
    <!--左侧导航begin-->
    <!--<div cw-left-menu="menuOption"></div>-->
    <!--<div class="main-content" id="main-content"-->
         <!--style="position:absolute;left:15%;top:0;bottom: 0;width: 85%; overflow: hidden;margin-left: 0">-->
        <!--<div id="top_nav2">-->
            <!--<div id="locationPlaceHolder" style="font-size: 12px; color: #333;">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div id="ui-content-main" class="ui-content-main" ui-view-->
             <!--style="padding:0;width:100%; position: absolute;top:35px;bottom: 0;overflow-y: hidden;height: auto !important;"></div>-->
    <!--</div>-->
    <!--左侧导航end-->
    <!--头部导航begin-->
    <div class="main-content" id="main-content" style="overflow: hidden;">
        <!--<div id="top_nav2">-->
            <!--<div id="locationPlaceHolder" style="font-size: 12px; color: #333;">-->
            <!--</div>-->
        <!--</div>-->
        <div id="ui-content-main" class="ui-content-main" ui-view
             style="padding:0 15px 0px 15px;width:100%; position: absolute;top:35px;bottom: 0;overflow-y: auto;height: auto !important;"></div>
    </div>
    <!--头部导航end-->
</div>
<!-- 固定宽度表单居中 end -->
<!-- 尾部声明 start -->

<!-- 尾部声明 start -->
<!-- jquery js  -->
<script src="${STATIC_URL}js/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="${STATIC_URL}js/jquery.json-2.3.min.js" type="text/javascript"></script>
<script src="${STATIC_URL}js/jquery-ui-1.10.4.js" type="text/javascript"></script>
<script src="${STATIC_URL}js/jquery.ztree.all-3.5.min.js" type="text/javascript"></script>
<script src="${STATIC_URL}js/jquery-form.js" type="text/javascript"></script>
<script src="${STATIC_URL}js/kendo.all.min.js" type="text/javascript"></script>
<script src="${STATIC_URL}js/select2.js" type="text/javascript"></script>
<!-- bootstrap js  -->
<script src="${STATIC_URL}assets/bootstrap-3.3.4/js/bootstrap.min.js" type="text/javascript"></script>
<!--配置js  勿删-->
<script src="${STATIC_URL}js/settings.js?v=${STATIC_VERSION}" type="text/javascript"></script>
<script src="${STATIC_URL}js/toastr.min.js" type="text/javascript"></script>
<!--angular js-->
<script src="${STATIC_URL}js/angular_base/angular.min.js" type="text/javascript"></script>
<script src="${STATIC_URL}js/angular_base/angular-resource.min.js" type="text/javascript"></script>
<script src="${STATIC_URL}js/angular_base/ui-bootstrap-tpls-0.12.0.js" type="text/javascript"></script>
<script src="${STATIC_URL}js/angular_base/angular-ui-router.min.js" type="text/javascript"></script>

<!--表格控件-->
<script src="${STATIC_URL}js/angular_base/ng-grid.js" type="text/javascript"></script>

<!--左侧菜单js-->
<script src="${STATIC_URL}js/angular_base/leftmenu.js" type="text/javascript"></script>

<script src="${STATIC_URL}client/init.js" type="text/javascript"></script>
<script src="${STATIC_URL}client/Services.js" type="text/javascript"></script>
<script src="${STATIC_URL}client/Directives.js" type="text/javascript"></script>
<script src="${STATIC_URL}client/Utilities_Services.js" type="text/javascript"></script>

<!--自定义配置功能-->
<script src="${STATIC_URL}client/controllers/Config.js" type="text/javascript"></script>

<!--确认提示框-->
<script src="${STATIC_URL}client/controllers/Confirm.js" type="text/javascript"></script>
<script src="${STATIC_URL}client/controllers/Message.js" type="text/javascript"></script>

<!--错误提示框-->
<script src="${STATIC_URL}client/controllers/Error.js" type="text/javascript"></script>
${self.body()}
</body>
</html>
